*{
    margin: 0%;
}

body{
    height: 100vh;
    display: flex;
    background: linear-gradient(135deg, #0f172a 0%, #1e293b 100%);
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
#area{
    cursor: text;
    height: 90vh;
    width: 90vw;
    padding: 1rem;
    border-radius: 20px;
    background: linear-gradient(135deg, #2e3440 0%, #3b4252 100%);
    color: white;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    white-space: pre;
    overflow: auto;

}
.cursor{
    display: inline-block;
    height: 1.2rem;
    width: 2px;
    vertical-align: middle;
    animation: blink 1s infinite step-end;
}
.line{
    color: red;
}
.pointer{
    -webkit-backdrop-filter: contrast(200%) brightness(120%) grayscale(70%);
    backdrop-filter: contrast(200%) brightness(120%) grayscale(70%);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    pointer-events: none;
    padding: 2px;
}
@keyframes blink{
    50%{
        opacity: 0;
    }
}